# Ignore IntelliJ project files
.idea/
*.iml

# Ignore Maven and build directories
/target/
/out/

# Ignore logs and temp files
*.log
/logs/

# Ignore Node.js dependencies
frontend/node_modules/
node_modules/

# Ignore compiled files
*.class
*.jar
*.war
